<div class="user_score">
	Score: <%= current_user.rounds.last.score %>
</div>
<div class="user_level">
	Level: <%= current_user.rounds.last.level %>
</div>


<%= form_for @person do | f |%>
	<div class="user_input_prompt">
		<%= f.label(:name, "Enter an actor/actress in #{@movie}:") %>
	</div>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.hidden_field(:movie, value: @movie) %>
  <div class="new_button">
  <%= f.submit value="Go!", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>

