<%if current_user.rounds.last.score > 0 %><h2>Correct answer!</h2><br><% end %>
<p>You score is: <%= current_user.rounds.last.score %></p>


<%= form_for @person do | f |%>
	<%= f.label(:name, "Enter an actor/actress in #{@movie}:") %>
  <%= f.text_field(:name) %>
  <%= f.hidden_field(:movie, value: @movie) %>
  <%= f.submit value="Go!", class: "btn btn-primary" %>
<% end %>

