<% if @person.present? %><h2>Correct Person!</h2><br> <% end %>
<p>You score is: <%= current_user.rounds.last.score %></p>



<% if @person.present? %>
	<%= form_for @movie do | f | %>
		<%= f.label(:title, "Enter a different movie that #{@person} is in:") %>
	  <%= f.text_field :title %>
	  <%= f.hidden_field(:person, value: @person) %>
	  <%= submit_tag("Go!") %>
	<% end %>
<% else %>
	<%= form_for @movie do | f | %>
		<%= f.label(:title, "Enter a movie to get started!") %>
	  <%= f.text_field :title %>
	  <%= f.submit value="Go!" %>
<% end %>
<% end %>
