
<div class="jumbotron">
	<h1>Leaderboard</h1>
	<p><%= link_to 'New Round!', user_rounds_path(current_user), method: :post, class: "btn btn-primary btn-lg" %></p>
</div>
<table class="table">
	<th>Username</th>
	<th>Level</th>
	<th>Score</th>
	<% @rounds.each do | round | %>
		<tr>
			<td><a href="<%= user_path(User.find(round.user_id).id) %>"><%= User.find(round.user_id).username %></a></td>
			<td> <%= round.level %> </td>
			<td> <%= round.score %> </td>

		</tr>
<% end %>
</table>

</div>
<div class="col-md-8 col-md-offset-2">
<div class="jumbotron">
	<h1>The Rules</h1>
		<div class="rules_content">
		<p>1.) Begin each round by entering the title of a movie.</p>
		<p>2.) You will then be prompted to enter an actor or actress in that movie. If you are correct, you will advance. Incorrect, and your round will end.</p>
		<p>3.) Next you will be prompted to enter a movie that your actor/actress was in. If correct, this process repeats itself.</p>
		<p>4.) You do not need to capitalize answers, but misspellings will cause you to lose.</p>
		<p>5.) If you repeat an answer during your round (e.g. use "Matt Damon" for two different movies) you will lose.</p>
		<p>6.) Points are awarded for correct responses.</p>
		<p>7.) For every 5 correct answers you will move up one level. Points are multiplied each level.</p>
		<p>8.) For each level you go up, the time you have to respond will decrease.</p>
		</div>
</div>
</div>
