

<h2><%= @answer %></h2><br>
<p>You score is: <%= current_user.rounds.last.score %></p>


<%= form_tag({controller: "movies", action: "index"}, method: "get") do | f |%>
	<%= label_tag(:movie, "Enter a different actor/actress in #{@movie_name}:") %>
  <%= text_field_tag(:person) %>
  <%= hidden_field_tag(:movie_name, @movie_name) %>
  <%= submit_tag("Go!") %>
<% end %>

