<!DOCTYPE html>
<html>
<head>
  <title>MovieQuiz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
</head>

<body>

		<nav class="navbar navbar-inverse " role="navigation">
				<div class="logo">
						MovieQuiz
				</div>
				<div class="user_nav">
					<% if user_signed_in? %>
						<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
					<% else %>
						<%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
					<% end %>
				</div>
		</nav>
<div class="container">
	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <%= content_tag :div, msg, :class => "flash_#{name}" %>
	  <% end %>
	<% end %>
	 <p class="notice"><%= notice %></p>
	 <p class="alert"><%= alert %></p>

	<div class="col-md-8 col-md-offset-2">
		<%= yield %>
	</div>
</div>
</body>
</html>
